<center><%= picture_for @user %></center>
<div class="edit-user">
  <% if @check %>
      <%= link_to edit_user_path(@user) do %>
        <i class="fa fa-pencil" ></i>
      <% end %>
  <% end %>
</div>
<ul>
  <li><%= t".name" %><h4><span><%= @user.name %></span></h4></li>
</ul>
<ul>
  <li><%= t".email" %><h4><span><%= @user.email %></span></h4></li>
</ul>
<ul>
  <li><%= t".address" %><h4><span><%= @user.address %></span></h4></li>
</ul>
<ul>
  <li><%= t".school" %><h4><span><%= @user.school %></span></h4></li>
</ul>

