<div class="col-sm-4 box box-primary show_user">
  <div class="box-body box-profile">
    <center><%= picture_for @user %></center>
    <h3 class="profile-username text-center"><%= @user.name %></h3>
    <strong><%= fa_icon "envelope-open" %><%= t".email" %></strong>
    <p class="text-muted"><%= @user.email %></p>
    <strong><%= fa_icon "home" %><%= t".address" %></strong>
    <p class="text-muted"><%= @user.address %></p>
    <strong><%= fa_icon "university" %><%= t".school" %></strong>
    <p class="text-muted"><%= @user.school %></p>
    <%= link_to edit_supervisor_user_path(@user) do %>
      <i class="fa fa-pencil" ></i>
    <% end %>
  </div>
</div>



