<% provide :title, t(".title") %>
<div class="row">
  <aside class="col-md-12">
    <section class="subject_info">
      <h1>
        <%= @subject.name %>
      </h1>
      <p><%= @subject.description %></p><br>
      <ul class="list-group">
        <% @tasks.each do |task| %>
        <div class="col-md-10" id= "icon-status" >
          <div class="col-md-1 w3agile_event_grid_left">
            <% if get_user_task(current_user.id, task.id).blank? %>
              <i class="fa fa-circle" aria-hidden="true" id="task_init" ></i>
              <!-- xanh la -->
            <% elsif get_user_task(current_user.id, task.id).doing? %>
              <i class="fa fa-circle" aria-hidden="true" id="task_doing" ></i>
                <!-- xanh nuoc bien -->
            <% else %>
              <i class="fa fa-circle" aria-hidden="true" id="task_done" ></i>
              <!-- do -->
            <% end %>
          </div>
          <div class="col-md-9 w3agile_event_grid_right">
            <h4><%= task.name %></h4>
            <li class="list-group-item"><%= task.description %><br></li>
          </div>
          <div class="col-md-2 ">
            <% @user_task = get_user_task(current_user.id, task.id) %>
              <!-- neu chua khoi tao  -->
              <% if @user_task.blank? %>
                <%= render partial: "receive_task",
                  locals: {task_id: task.id, user_id: current_user.id,
                  subject_id: params[:id], course_id: params[:course_id]} %>
              <% elsif @user_task.doing? %>
                <%= render partial: "finish_task", locals: {user_task: @user_task,
                  subject_id: params[:id], course_id: params[:course_id]} %>
              <% else %>
                <%= render "completed" %>
              <% end %>
          </div>
        </div>
        <% end %>
      </ul>
    </section>
  </aside>
</div>
