<%= render "modal" %>
<% provide :title, @subject.name %>
<div class="col-md-3 subject_info box box-primary">
  <div class="box-body box-profile">
    <div class="edit_subject">
      <%= link_to edit_supervisor_subject_path(@subject) do %>
        <i class="fa fa-pencil" ></i>
      <% end %>
    </div>
    <center><%= image_tag @subject.picture, class: "img-circle",id: "myBtn" %></center>
    <h3 class="profile-username text-center"><%= @subject.name %></h3>
    <center><p class="text-muted"><%= @subject.duration %><%= t".day" %></p></center>
  </div>
</div>
<div class="col-md-8 list-task-subject box box-primary">
  <h3 class="bars"><%= t".List_tasks" %></h3>
  <div class="box-body">
    <table class="table table-bordered">
    <% stt=0 %>
      <tr>
        <th style="width: 10px">#</th>
        <th><%= t".task" %></th>
        <th><%= t".description" %></th>
      </tr>
    <% @tasks.each do |task|%>
      <tr>
        <th><%= stt+=1 %></th>
        <th><%= link_to task.name, supervisor_task_path(task) %></th>
        <th><%= task.name %></th>
         <th><%= task.description %></th>
      </tr>
    <% end %>
    </table>
  </div>
</div>
