<ul class="timeline vertical subject-border">
  <li class="time-label">
    <span class="bg-green"><%= start_date course_subject %></span>
  </li>
  <li>
    <i class="fa fa-envelope bg-blue"></i>
    <div class="timeline-item">
      <span class="time"><i class="fa fa-clock-o"></i>
        <%= t(".alltime", time: course_subject.subject_duration) %></span>
      <div class="timeline-body">
        <%= link_to image_tag(course_subject.subject_picture.url,
          class: "img-circle pull-left"), [course_subject.course, course_subject.subject] %>
        <h3><%= link_to course_subject.subject_name,
          [course_subject.course, course_subject.subject] %>
          <p class="badge <%= course_subject.status %>"><%= course_subject.status %></p>
        </h3>
        <%= course_subject.subject_description %>
      </div>
    </div>
  </li>
  <li class="time-label">
    <span class="bg-red"><%= course_subject.deadline %></span>
  </li>
</ul>
