<% provide :title, t("courses.title") %>
<h1><% t ".title" %></h1>
<div class="search">
  <%= form_tag(courses_path, method: :get) do %>
    <%= text_field_tag :search%>
    <%= submit_tag t "search" %>
  <% end %>
</div>
<%= render partial: "courses", collection: @user_courses, as: :user_course %>
<div class="container">
  <%= will_paginate @user_courses %>
</div>
