<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= render "supervisor/layouts/shim" %>
  </head>
  <body class="hold-transition skin-purple sidebar-mini">
    <div class="wrapper">
      <%= render "supervisor/layouts/header" %>
      <%= render "supervisor/shared/sidebar" %>
      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            <%= t "dashboard" %>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
              <%= link_to t("static_pages.home.title"), root_path %>
            </a></li>
          </ol>
        </section>
        <section class="content">
          <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
          <% end %>
          <div class="alert alert-popup" role="alert" ></div>
          <%= yield %>
        </section>
      </div>
      <div class="clear-fix"></div>
      <%= render "supervisor/layouts/footer" %>
    </div>
  </body>
</html>
